$primary-clr: #3A7380; //teal
$primary-clr-dk: #1f5865; // dark teal
$secondary-clr-dk: #502677; //dark purple
$secondary-clr-lt: #AD91C8; //light purple
$tertiary-clr: #f45a8c; //pink
$off-white: #f1f1f1;